<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>迭代数组</h3>
        <ul>
            <li v-for="(e,index) in emps" v-bind:key="index">
                编号：{{index+1}},姓名：{{e.name}},年龄：{{e.age}}
            </li>
        </ul>
        <h3>迭代对象</h3>
        <ul>
            <li v-for="(value,key,index) in person">
                第{{index+1}}个属性，{{key}}={{value}}
            </li>
        </ul>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                emps :[
                    {name: '马化腾',age: 34},
                    {name: '马云',age: 36},
                    {name: '刘强东',age: 30}
                ],
                person: {
                    name: '菜园子',
                    age: 19
                }
            }
        })
    </script>
</body>
</html>